.venv/
venv/
__pycache__/
*.pyc
.git/
.gitignore

mlruns/
mlartifacts/
mlflow.db
models/
reports/
data/processed/

.ipynb_checkpoints/
*.ipynb

*.xlsx
*.pdf

docs/
tests/
.pytest_cache/

.vscode/
.idea/
